@using PerculusReport.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseStats2</title>
</head>
<body>
    <div class="container">
        <div class="widget-box">
            <div class="widget-header"><h5><i class="fa fa-users blue"></i> @Html.ActionLink("Tüm Programlar", "ProgramStats", "Perculus", null, null)
            <i class="ace-icon fa fa-angle-right"></i> <span>@ViewBag.ProgramName</span></h5></div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row-fluid">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ders</th>
                                    <th>Ö.Görevlisi</th>
                                    <th>Sınıf</th>
                                    <th>Kredi</th>
                                    <th>Hafta</th>
                                    <th>Durum</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in ((List<CourseStats_Result>)ViewBag.Courses))
                                {
                                    <tr>
                                        <td style="width:30%; vertical-align:middle;" class="HTool">
                                          
                                                   @if (p.ACount > 0)
	                                               {
		                                            @Html.ActionLink(p.COURSENAME, "ActivityStats", "Perculus", new { cid = p.COURSEID, gid = p.GroupId }, null)
                                                   }
                                                   else
                                                   {
                                                       @p.COURSENAME
                                                   }







                                        </td>
                                        <td style="width:10%; vertical-align:middle;">
                                            @if (@p.NameSurname != "-")
                                            {
                                                <span class="label label-white middle" style="float:left;">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    @p.NameSurname
                                                </span>
                                            }
                                        </td>
                                        <td style="vertical-align:middle;" class="HTool">
                                            <span class="badge badge-primary">
                                                @p.GroupName
                                            </span>
                                        </td>
                                        <td style="vertical-align:middle;" class="HTool">
                                            <div class="hidden-phone visible-desktop action-buttons HTBar" >
                                                
                                                <span class="badge">@p.CREDIT</span>

                                            </div>
                                        </td>
                                        <td style="vertical-align:middle;" class="HTool">
                                        @if (@p.ACount > 0)
                                        {
                                            <span class="badge badge-success">@p.ACount</span>
                                        }</td>
                                        <td style="width:60%;">
                                            @if (@p.progress < 100 && @p.progress > 0)
                                            {
                                                <div class="progress" style="margin-bottom:0; height:30px;" data-toggle="tooltip" data-placement="left" title="">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="@p.progress" aria-valuemin="0" aria-valuemax="100" style="width:@p.progress.ToString().Replace(",",".")%; min-width: 10%; font-size:14px; text-align:right; line-height:32px;">
                                                        % @p.progress &nbsp;
                                                    </div>
                                                </div>
                                            }
                                            else if (@p.progress > 100)
                                            {
                                                <div class="progress" style="margin-bottom:0; height:30px;" data-toggle="tooltip" data-placement="left" title="">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@p.progress" aria-valuemin="0" aria-valuemax="100" style="width:100%; font-size:14px; text-align:right; line-height:32px;">
                                                        <span class="label label-info label-white middle" style="margin-right:5px;">% @p.progress &nbsp;</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (@p.progress == 100)
                                            {
                                                <div class="progress" style="margin-bottom:0; height:30px;" data-toggle="tooltip" data-placement="left" title="">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@p.progress" aria-valuemin="0" aria-valuemax="100" style="width:@p.progress.ToString().Replace(",",".")%; font-size:14px; text-align:right; line-height:32px;">
                                                        % @p.progress &nbsp;
                                                    </div>
                                                </div>
                                            }
                                            else if (@p.progress == 0)
                                            {
                                                <div class="progress" style="margin-bottom:0; height:30px;" data-toggle="tooltip" data-placement="left" title="">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@p.progress" aria-valuemin="0" aria-valuemax="100" style="width:100%;  background-color:#E8E8E8; font-size:14px; text-align:center; line-height:32px;">
                                                        % @p.progress&nbsp;
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h5>
                        <i class="fa fa-cog white"></i>
                        <span>
                            Açıklamalar
                        </span>
                    </h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row-fluid">
                            <ul class="list-group"> 
                                <li class="list-group-item">1 - Tıklanabilir durumda olmayan derslerin içinde ilgili derse ait hiç bir aktivite yapılmamıştır.</li>                            
                                <li class="list-group-item">2 - Derse ait birden fazla sınıf var ise her sınıf ayrı ayrı satırlarda gösterilir.</li>
                                <li class="list-group-item">3 - Hafta sütunu öğretim görevlisinin ilgili dersin içerisindeki haftaların kaçına  katılım yaptığı bilgisini verir. Örneğin dersin içerisinde 5 hafta oluşturulmuş ve öğretim görevlisi bu haftaların 4 tanesine katılım yapmış ise hafta sütununda 4 yazılır.  </li>
                                <li class="list-group-item">4 - Yüzdelik ilerleme <span class="label label-success label-white middle">Derse Ait Aktivitelerin Yüzdelik İlerlemesi Toplamı / 13</span> şeklinde hesaplanır.</li>
                                <li class="list-group-item">5 - Yüzdelik hesaplanırken 13'e bölme nedeni, sistemin 14 haftadan oluşup 1 haftanın vize haftası olarak belirlenmiş olmasıdır.</li>
                                <li class="list-group-item">6 - Derse ait aktivitelerden herhangi birinin ilerlemesi 100% sınırını geçmişse toplam yüzdelik ilerleme bulunurken bu aktivitelerin ilerlemesi 100% olarak alınır.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
