@using PerculusReport.Models
@model MyModel
@{
    ViewBag.Title = "OturumaKatilanlar";
}
@Html.Partial("RoomSummary", Model)
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="@Url.Action("RoomParticipants", "Perculus", new { id = Model.rm.ROOMID })">Katılım Raporu (1) </a></li>
        <li><a href="@Url.Action("RoomParticipantsLive", "Perculus", new { id = Model.rm.ROOMID })">Katılım Raporu (9) (Detaylı)</a></li>
        <li class="active"><a href="@Url.Action("OturumaKatilanlar", "Perculus", new { id = Model.rm.ROOMID })" data-toggle="tab">Oturuma Katılanlar (5) (Tümü)</a></li>
        <li><a href="@Url.Action("Room", "Perculus", new { id = Model.rm.ROOMID })">Oturum Genel Bilgi</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane" id="room1">

        </div>
        <div class="tab-pane active" id="room2">
            <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                <tr>

                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-Posta</th>
                    <th>Kullanıcı Tipi</th>
                    <th>Katılım Kodu</th>
                    <th>Yasaklı</th>

                </tr>
                @{
                    var ldate = Model.rm.BEGINDATE.Value.AddMinutes(Model.rm.DURATION.Value);
                }
                @foreach (var p in ((List<PERCULUSSA_USP_REPORTS_USERLIST_Result>)ViewBag.OturumaKatilanlar).OrderBy(t => t.report_user_type))
                {
                    <tr>
                        <td>
                            @p.report_user_name
                        </td>
                        <td>
                            @p.report_surname
                        </td>
                        <td>
                            @p.report_email
                        </td>
                        <td>
                            @p.report_user_type
                        </td>
                        <td>
                            @p.report_attend_code
                        </td>
                        <td>
                            @p.report_is_banned
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="room3">
            <h1>Room3</h1>
            <p>Room3 Content</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
    </script>
}

