@using PerculusReport.Models
@model MyModel
@{
    ViewBag.Title = "RoomParticipantsLive";
}
@Html.Partial("RoomSummary", Model)
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="@Url.Action("RoomParticipants", "Perculus", new { id = Model.rm.ROOMID })">Katılım Raporu (1)</a></li>
        <li class="active"><a href="@Url.Action("RoomParticipantsLive", new { id = Model.rm.ROOMID })">Katılım Raporu (9) (Detaylı)</a></li>
        <li><a href="@Url.Action("OturumaKatilanlar", "Perculus", new { id = Model.rm.ROOMID })">Oturuma Katılanlar (5) (Tümü)</a></li>
        <li><a href="@Url.Action("Room", "Perculus", new { id = Model.rm.ROOMID })">Oturum Genel Bilgi</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="room1">
            <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                <tr>
                    <th>Katılımcı</th>
                    <th>E-Posta</th>
                    <th>İlk Giriş Tarihi</th>
                    <th>Son Çıkış Tarihi</th>
                    <th>İlk Tekrar Oynatma Tarihi</th>
                    <th>Son Tekrar oynatma Tarihi</th>
                    <th>Katılım Süresi</th>
                    <th>Aktif Katılım Süresi</th>
                    <th>Pasif katılım Süresi</th>
                    <th>Tekrar İzleme Süresi</th>
                    <th>Tekrar İzleme Sayısı</th>
                    <th>Kamera Süresi</th>
                    <th>Mikrofon Süresi</th>
                    <th>Doküman Sayısı</th>
                    <th>Sohbet Mesajı Sayısı</th>
                    <th>Ekran Paylaşım Sayısı</th>
                    <th>Anket Sayısı</th>
                    <th>Kullanıcı Tipi</th>
                </tr>
                @{
                    var ldate = Model.rm.BEGINDATE.Value.AddMinutes(Model.rm.DURATION.Value);
                }
                @foreach (var p in ((List<Reports_RoomUserStats_Result>)ViewBag.LiveParticipants))
                {
                    <tr>

                        <td>
                            @if (p.UserType == "Eğitmen")
                            {
                                @:<i class="ace-icon fa fa-user bigger-110 blue"></i>
                            }
                            else if (p.UserType == "Yönetici")
                            {
                                @:<i class="ace-icon fa fa-user bigger-110 red"></i>
                            }
                            @p.Username
                        </td>
                        <td>
                            @p.Email
                        </td>
                        <td>
                            @(p.FirstAttemtLive.HasValue ? p.FirstAttemtLive.Value.ToString("dd MMMM yyy HH:mm") : "")
                        </td>
                        <td>
                            @(p.LastAttemptLive.HasValue ? p.LastAttemptLive.Value.ToString("dd MMMM yyy HH:mm") : "")
                        </td>
                        <td>
                            @(p.FirstReplayDate.HasValue ? p.FirstReplayDate.Value.ToString("dd MMMM yyy HH:mm") : "")
                        </td>
                        <td>
                            @(p.LastReplayDate.HasValue ? p.LastReplayDate.Value.ToString("dd MMMM yyy HH:mm") : "")
                        </td>
                        <td>
                            @p.UserDuration
                        </td>
                        <td>
                            @p.UserDurationActive
                        </td>
                        <td>
                            @p.UserDurationPassive
                        </td>
                        <td>
                            @p.UserDurationReplay
                        </td>
                        <td>
                            @p.UserReplayCount
                        </td>
                        <td>
                            @p.UserCamDuration
                        </td>
                        <td>
                            @p.UserMicDuration
                        </td>
                        <td>
                            @p.DocumentCount
                        </td>
                        <td>
                            @p.ChatMessageCount
                        </td>
                        <td>
                            @p.ScrnshareUserCount
                        </td>
                        <td>
                            @p.PollCount
                        </td>
                        <td>
                            @p.UserType
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="room2">
            <h1>Room2</h1>
            <p>Room2 Content</p>
        </div>
        <div class="tab-pane" id="room3">
            <h1>Room3</h1>
            <p>Room3 Content</p>
        </div>
        <div class="tab-pane" id="room4">
            <h1>Room4</h1>
            <p>Room4 Content</p>
        </div>
        <div class="tab-pane" id="room5">
            <h1>Room5</h1>
            <p>Room5 Content</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
}

