@using PerculusReport.Models
@model MyModel
<div class="widget-box">
    <div class="widget-header">
        <h4>
            <i class="ace-icon fa fa-users bigger-110" style="margin-right:10px;"></i>
            <span>@Model.rm.SESSIONNAME</span>
        </h4>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                <tr>
                    <th> Başlangıç Tarihi</th>
                    <td>
                        <button type="button" class="btn btn-white btn-success">@(Model.rm.BEGINDATE.HasValue ? Model.rm.BEGINDATE.Value.ToString("dd MMMM yyy HH:mm") : "")</button>
                    </td>
                    <th>Varsayılan Süre</th>
                    <td>
                        <button type="button" class="btn btn-white btn-info">@Model.rm.DURATION</button>
                    </td>
                </tr>

                <tr>
                    <th>Oturum Kimliği</th>
                    <td>@Model.stat.RoomId</td>
                    <th>Kamera Kullanım Sayısı</th>
                    <td>@(Model.stat.CamCount > 0 ? Model.stat.CamCount.ToString() : "")</td>
                </tr>
                <tr>
                    <th>Oturum Adı</th>
                    <td>@Model.stat.SessionName</td>
                    <th>Katılımcı Kamera Kullanım Sayısı</th>
                    <td>@(Model.stat.CamUserCount > 0 ? Model.stat.CamUserCount.ToString() : "")</td>
                </tr>
                <tr>
                    <th>Aktif Katılım Süresi</th>
                    <td>@Model.stat.DurationActive</td>
                    <th>Mikrofon Kullanım Sayısı</th>
                    <td>@(Model.stat.MicCount > 0 ? Model.stat.MicCount.ToString() : "")</td>
                </tr>
                <tr>
                    <th>Katılımcı Sayısı</th>
                    <td>
                        @if (Model.stat.UserCount > 0)
                        {
                            <div class="label label-success">@Model.stat.UserCount</div>
                        }
                    </td>
                    <th>Katılımcı Mikrofon Kullanım Sayısı</th>
                    <td>@(Model.stat.MicUserCount > 0 ? Model.stat.MicUserCount.ToString() : "")</td>

                </tr>
                <tr>
                    <th>Atılan Katılımcı Sayısı</th>
                    <td>@(Model.stat.BannedCount > 0 ? Model.stat.BannedCount.ToString() : "")</td>
                    <th>Ekran Paylaşımı Sayısı</th>
                    <td>@(Model.stat.ScrnshareCount > 0 ? Model.stat.ScrnshareCount.ToString() : "")</td>
                </tr>
                <tr>
                    <th>Ekran Paylaşım Sayısı</th>
                    <td>@(Model.stat.ScrnshareUserCount > 0 ? Model.stat.ScrnshareUserCount.ToString() : "")</td>
                    <th>Doküman Sayısı</th>
                    <td>@(Model.stat.DocumentCount > 0 ? Model.stat.DocumentCount.ToString() : "")</td>
                </tr>
                <tr>
                    <th>Anket Sayısı</th>
                    <td>@(Model.stat.PollCount > 0 ? Model.stat.PollCount.ToString() : "")</td>
                    <th></th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
